{% extends 'base.html' %}

{% block content %}
<div class="hero">
    <h1>Welcome to Video Downloader</h1>
    <p>Select a platform to download videos from.</p>
    <div class="platforms">
        <a href="/youtube" class="platform youtube">YouTube</a>
        <a href="/facebook" class="platform facebook">Facebook</a>
        <a href="/instagram" class="platform instagram">Instagram</a>
        <a href="/tiktok" class="platform tiktok">TikTok</a>
        <a href="/twitter" class="platform twitter">Twitter</a>
    </div>
</div>
{% endblock %}
